// Global css file - applicable on all files across the app

// Define color variables
$primary-color: #0F67B1;
$light-primary: #3FA2F6;
$accent-one: #96C9F4;
$accent-two: #EEF5FF;
$gray-bg: #f3f3f3;
$dark-gray-bg: #d9d9d9;

$background-image: url("../assets/login_bg.jpg");

.primary_color {
  color: $primary-color;
}

.bg_primary_color {
  background-color: $primary-color;
}

.light_primary_color {
  color: $light-primary;
}

.bg_light_primary_color {
  background-color: $light-primary;
}

.accent_one {
  color: $accent-one;
}

.bg_accent_one {
  background-color: $accent-one;
}

.accent_two {
  color: $accent-two;
}

.bg_accent_two {
  background-color: $accent-two;
}

.bg_gray {
  background-color: $gray-bg;
}

.bg_dark_gray {
  background-color: $dark-gray-bg;
}

// background for AuthPage.jsx
.bg_authpage {
  background-color: #fcfcfc;
  background-image: $background-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}


//  HOME PAGE =============================================================================
.center-2{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  // background-color: #6E6E6E;
  border-radius: 2rem;
}

.home-height{
  min-height: 80vh;
}

.headline {
  background: linear-gradient(90deg, rgba(255,167,0,1) 0%, rgba(165,126,51,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  font-size: 2.65rem;
  width: 85%;
}

//  Results page
.res-box:hover{
  background-color: $primary-color;
  color: $gray-bg;
}



// Roadmap

.roadmap {
  &-container {
    @apply transition-all duration-300 ease-in-out;

    &:hover {
      @apply transform scale-105;
    }
  }

  &-title {
    @apply relative;

    &::after {
      content: '';
      @apply absolute bottom-0 left-0 h-1 w-20 bg-blue-500;
    }
  }
}


.heroSection {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.1;
    animation: float 20s infinite ease-in-out;
  }

  &::before {
    background-color: #60a5fa; // blue-400
    top: -150px;
    left: -150px;
    animation-delay: -10s;
  }

  &::after {
    background-color: #a78bfa; // purple-400
    bottom: -150px;
    right: -150px;
  }
}
