// Global css file - applicable on all files across the app

// Define color variables
$primary-color: #ffbb39;   
$light-primary: #f6dba7;  
$accent-green: #65db82;    
$accent-red: #ff4b4b; 
$gray-bg: #f3f3f3;
$dark-gray-bg: #d9d9d9;


